$color-black:black;
$color-white:white;
$color-primary:teal;

$font-primary:'Montserrat',
sans-serif;

body {
    font-family: $font-primary;
    color: lighten($color-black, 20%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 15px;
}

.diff-section {
    padding: 50px 15px;
    border-bottom: 2px dashed brown;
}

.flex-cont {
    display: flex;
    padding: 15px;
    background: lighten($color-black, 25%);
}

.flex-box {
    background: $color-primary;
    height: 200px;
    margin: 15px;
    color: white;
    text-align: center;
    h2 {
        margin: auto;
    }
}

#zero {
    .flex-cont {
        display: block;
    }
    .flex-box {
        width: 200px;
    }
}

#one {
    .flex-box {
        width: 200px;
    }
}

#one1 {
    .flex-cont {
        flex-direction: column;
    }
    .flex-box {
        width: 200px;
    }
}


#two {
    .flex-box {
        flex: 1;
    }
}

#two1 {
    .flex-box {
        flex: 1;
        display: flex;
    }
}

#three {
    .flex-box {
        display: flex;
        flex: 1;
    }
    .box1 {
        order: 2;
    }
    .box2 {
        order: 3;
    }
    .box3 {
        order: 1;
    }
}
